body {
  color: #242529;
  font: 1em/1.5 "Open Sans",Helvetica,Arial,sans-serif;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  position:relative;
}

header:after,
footer:after,
main:after,
section:after {
  content: "";
  display: table;
  clear:both;
}

main {
  max-width:1440px;
  margin:0 auto;
}

.jumbotron {
  text-align:center;
}

nav ul {
  padding:0;
  margin:0;
  list-style: none;
  max-width:1440px;
}

nav ul li {
  float:left;
}

button.jumbotron--btn {
  border: none;
  background: #285782;
  color: #FFFFFF;
  border-radius:5px;
  padding:15px;
}

.hotdog-types h2:before {
  content: '';
  height: .1875rem;
  width: 1.875rem;
  position: absolute;
  background: #286782;
}

/* For the horizontal line in content area
.home-banner .folio-text::before {
  background: #84c6b7;
  top: .8em;
}
.folio-text:before {
  content: '';
  height: .1875rem;
  width: 1.875rem;
  position: absolute;
  left: -3.125rem;
  top: 50%;
  background: #dedede;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
*, *::before, *::after {
  box-sizing: inherit;
}
*/