.jumbotron {
  background-color: $gray-lightest;
  text-align: center;
  height: 686px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $gray-medium;
}

.jumbotron__heading {
  margin: 1em auto 1.5em auto;
  font-size: convert(55.94, px, ems);;
  font-weight: $font-weight-light;
}

.jumbotron__wrapper {
  max-width: 1000px;
  padding: 2em 1em;
}

.jumbotron__btn {
  border: none;
  background: #285782;
  color: #FFFFFF;
  border-radius: convert(6, px, ems);
  padding: 25px 38px;
  font-size: convert(20, px, ems);
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 992px) {
  .jumbotron__heading {
    font-size: 2.75em;
  }
}

@media (max-width: 768px) {
  .jumbotron {
    height: 500px;
  }
  .jumbotron__heading {
    font-size: 1.95em;
  }
  .jumbotron__logo {
    width:convert(65, px, ems);
  }
}