.header__nav {
  box-shadow: 0 10px 10px -10px #CCCCCC;
  display: flex;
  justify-content: center;
  margin-top: -18px;
  height: 100px;
  z-index: 1000;
  background-color: $white;
  position: relative;
  font-weight: 600;
  font-size: convert(20, px, ems);
  flex-direction: column;
  flex-wrap:nowrap;
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.nav__anchor {
  color: $gray-dark;
  text-decoration: none;
}

.nav__item {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 convert(39, px, ems);

  &:first-child {
    padding-left:0;
  }
  &:last-child {
    padding-right:0;
  }
}

@media (max-width: 768px) {
  .header__nav {
    font-size: convert(15, px, ems);
  }

  .nav__item {
    padding: 0 convert(5, px, ems);
  }
}