nav {
  box-shadow: 0 10px 10px -10px #CCCCCC;
  padding:37px 0;
  margin-top: -18px;
  z-index: 1000;
  background-color:#fff;
  position:relative;
  font-weight:600;
  font-size:1.25em;
}

nav ul {
  padding:0;
  margin:0;
  list-style: none;
  text-align: center;
}

nav a {
  color:#2e2e2e;
  text-decoration: none;
}

nav ul li {
  display:inline-block;
  text-transform:uppercase;
  padding:0 39px;
}