$gray-dark:     #2E2E2E;
$gray-medium:   #555559;
$gray-blue:     #84959C;
$gray-light:    #EFEFEF;
$gray-lightest: #FBFAFA;
$white:         #FFFFFF;

$blue-medium:   #286782;

$font-weight-light:   300;
$font-weight-normal:  400;
$font-weight-semi:    600;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
)