body {
  color: #242529;
  font: 1em/1.5 'Open Sans';
  text-rendering: optimizeLegibility;
  position:relative;
}

header {
  padding-top:499px;
  background:url('../images/header/dirty-dogs-header-bg@1x.png') top center repeat-x;
  box-shadow: 0 150px 100px -100px inset rgb(0, 0, 0, .5)
}

main {
  margin:0 auto;
}





.btn {
  border: none;
  background: #285782;
  color: #FFFFFF;
  border-radius:5px;
  padding:25px 38px;
  font-weight:600;
  cursor: pointer;
}


.hotdog-types h2:before {
  content: '';
  height: .1875rem;
  width: 1.875rem;
  position: absolute;
  background: #84959C;
  margin-top: .75em;
  margin-left: -2em;
}

.hotdog-types--grouping {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row; 
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
}

.hotdog-types--grouping-text {
  height:75vh;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555559;
}

.hotdog-types--grouping:nth-child(odd) .hotdog-types--grouping-text {
  order: -1;
}

.hotdog-types--grouping-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-position: center center;
  background-size:cover;
  order: -1
}

.hotdog-types--grouping-image img {
  max-width:100%;
}

.hotdog-types--grouping-text-container {
  width:60%;
}

.main-footer {
  display:flex;
  align-items:center;
  justify-content: space-between;
  background-color:#EFEFEF;
  font-family:'Open Sans';
  font-weight:400;
}

@media (max-width: 840px) {
  .hotdog-types--grouping {
    height: 40em;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column; 
   }
  .hotdog-types--grouping-text,
  .hotdog-types--grouping-image  {
    order:vertical;
  }
  .hotdog-types--grouping:nth-child(odd) .hotdog-types--grouping-text  {
    -webkit-box-ordinal-group:0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .hotdog-types--grouping-text p {
    padding: 1em;
  }
  .hotdog-types--grouping-text-container {
    width: 90%;
  }
}



/* For the horizontal line in content area
.home-banner .folio-text::before {
  background: #84c6b7;
  top: .8em;
}
.folio-text:before {
  content: '';
  height: .1875rem;
  width: 1.875rem;
  position: absolute;
  left: -3.125rem;
  top: 50%;
  background: #dedede;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
*, *::before, *::after {
  box-sizing: inherit;
}
*/