body {
  color: #242529;
  font: 1em/1.5 'Open Sans';
  text-rendering: optimizeLegibility;
  position:relative;
}

header {
  padding-top:499px;
  background:url('../images/header/dirty-dogs-header-bg@1x.png') top center repeat-x;
  box-shadow: 0 150px 100px -100px inset rgb(0, 0, 0, .5)
}





.btn {
  border: none;
  background: #285782;
  color: #FFFFFF;
  border-radius:5px;
  padding:25px 38px;
  font-weight:600;
  cursor: pointer;
}


.hotdog-types h2:before {
  content: '';
  height: .1875rem;
  width: 1.875rem;
  position: absolute;
  background: #84959C;
  margin-top: .75em;
  margin-left: -2em;
}

.hotdog-types--grouping {
  display: flex;
  flex-grow: 1;
  flex-wrap:wrap;
  flex-direction: row; 
  justify-content: space-around;
}

.hotdog-types--grouping-text {
  height:75vh;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555559;
}

.hotdog-types--grouping:nth-child(odd) .hotdog-types--grouping-text {
  order: -1;
}

.hotdog-types--grouping-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-position: center center;
  background-size:cover;
  order: -1
}

.hotdog-types--grouping-image img {
  max-width:100%;
}

.hotdog-types--grouping-text-container {
  width:60%;
}

.main-footer {
  display:flex;
  align-items:center;
  justify-content: space-between;
  background-color:#EFEFEF;
  font-family:'Open Sans';
  font-weight:400;
}

@media (max-width: 992px) {
  .hotdog-types--grouping {
    height: 40em;
    display: -webkit-flex;
    flex-direction: column; 
   }
  .hotdog-types--grouping-text,
  .hotdog-types--grouping-image  {
    order:vertical;
  }
  .hotdog-types--grouping:nth-child(odd) .hotdog-types--grouping-text  {
    order: 0;
  }
  .hotdog-types--grouping-text-container {
    width: 80%;
  }
}